:root {
    --background-color: #fff;
    --text-color: #000;
}

[data-theme="dark"] {
    --background-color: #000;
    --text-color: #fff;

}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    flex-grow: 0.2;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 0;
}


.logo img {
    border-radius: 16px;
}

section.intro {
    text-align: center;
}

footer {
    text-align: center;
}

section.intro h1 {
    font-weight: bold;
    font-size: 2em;
}

.logo {
    font-size: 3em;
    font-weight: bold;
}